src/ClientIpAspNetCore/bin
src/ClientIpAspNetCore/obj
Logs
src/ClientIpAspNetCore/ClientIpAspNetCore.xproj.user
src/ClientIpAspNetCore/project.lock.json
src/ClientIpAspNetCore/Properties/PublishProfiles
.vs
